In [1]:
import pandas as pd
import numpy as np
import os
#os.getcwd()
os.chdir('/Users/yajwang/Data')

In [6]:
df = pd.read_csv('reviews.csv')
df.dtypes

location_id     object
review_id       object
source          object
date            object
rating         float64
dtype: object

In [15]:
df.source.unique()

array(['GOOGLE_PLACES', 'FACEBOOK', 'CARS'], dtype=object)

In [5]:
df[df.location_id == '4962_380']

       location_id    review_id         source     date  rating
106       4962_380  1.76877E+11       FACEBOOK  1/19/14     1.0
219       4962_380  1.71558E+11       FACEBOOK  2/17/14     1.0
396       4962_380  39169370013  GOOGLE_PLACES   4/2/14     1.0
515       4962_380  1.57347E+11       FACEBOOK  4/27/14     1.0
562       4962_380  1.62497E+11       FACEBOOK   5/3/14     1.0
...            ...          ...            ...      ...     ...
178283    4962_380  40902791035  GOOGLE_PLACES  3/26/18     5.0
178523    4962_380  1.57382E+11       FACEBOOK  3/27/18     5.0
178893    4962_380  41278487324  GOOGLE_PLACES  3/29/18     5.0
178960    4962_380  1.24463E+11       FACEBOOK  3/29/18     5.0
179194    4962_380  38693953000  GOOGLE_PLACES  3/30/18     5.0

[639 rows x 5 columns]

In [7]:
df['datetime']=pd.to_datetime(df['date'])

In [10]:
from datetime import datetime

df['timestamp'] = [datetime.timestamp(d) for d in df['datetime']]

In [13]:
ts = datetime.now().timestamp()
print(ts)

1583454349.696676

In [16]:
df.head()

,location_id,review_id,source,date,rating,datetime,timestamp
0,4962_221,test_1895327047,GOOGLE_PLACES,10/20/15,1.0,2015-10-20,1.445324e+09
1,4962_221,test_18961550118,FACEBOOK,11/27/17,1.0,2017-11-27,1.511770e+09
2,4962_221,test_2044312531,FACEBOOK,11/15/17,1.0,2017-11-15,1.510733e+09
3,4962_221,test_21399832280,FACEBOOK,7/17/17,1.0,2017-07-17,1.500275e+09
4,4962_221,test_21516225526,FACEBOOK,1/11/16,1.0,2016-01-11,1.452499e+09

In [23]:
def rating(loc_id):
    df_id = df[df.location_id == loc_id]
    df_id['adj_rating'] = 3 + (df_id['rating'] - 3)*(1 - ((ts-df_id['timestamp'])/ts))
    return df_id['adj_rating'].mean()


rating('4962_380')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

4.5638061324657375

In [29]:
rank = pd.DataFrame(df['location_id'].unique(), columns=['location'])

rank['rating'] = [rating(x) for x in rank['location']]

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
rank['rank']=rank['rating'].rank().astype('int64')
rank

     location    rating  rank
0    4962_221  4.400586   155
1    4962_147  4.255243    91
2    4962_185  4.415295   162
3    4962_930  4.472282   182
4    4962_669  4.367846   139
..        ...       ...   ...
247   4962_69  4.680139   247
248  4962_131  4.772765   252
249  4962_875  4.696190   248
250  4962_798  4.648632   238
251  4962_289  4.510449   197

[252 rows x 3 columns]

In [101]:
result = []
for x in ['4962_201', '4962_380', '4962_381', '4962_915']:
    rk_x = np.asscalar(rank[rank['location']== x]['rank'].values)
    result.append([x, rk_x])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning: np.asscalar(a) is deprecated since NumPy v1.16, use a.item() instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [102]:
result = pd.DataFrame(result, columns=['location_id', 'rank'])
result

  location_id  rank
0    4962_201   233
1    4962_380   218
2    4962_381   172
3    4962_915   199

If I have access to other data, I would like to have demographic information of the reviewers.